.currency-converter {
  @extend .column;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--default-padding);
  background-color: var(--primary);

}
