.img-vid-viewer {

  .video-presenter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

    width: 100%;

    .video-wrapper {
      // "left" value is calculated in the component
      position: relative;
      transition: left var(--transition-time);

      .imgorvid {
        display: inline-block;
        padding: var(--default-padding);
        vertical-align: middle;
        width: calc(100% - 2 * var(--padding));

        text-align: center;

        img,
        video {
          box-shadow: var(--box-shadow);
          max-width: 100%;
          max-height: 60vh;
        }
      }
    }
  }
}
