.login-form {
  text-align: center;

  .login-inputs {
    display: grid;
    grid-gap: 2vh;
  }

  .login-options {
    align-items: center;
    margin-top: 2vh;

    #signout-link {
      font-size: var(--font-xs);
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: all var(--transition-time);

      &:hover {
        color: var(--primary);
        text-decoration-color: var(--primary);
      }
    }
  }

  .error {
    font-weight: bold;
    font-family: "Open Sans", serif;
    color: var(--primary);
  }
}
