.message {
  @extend .column, .center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--default-padding);
  margin-top: 16px;

  &.error {
    background-color: red;
    color: white;
    //font-weight: bold;
  }

  &.success {
    background-color: green;
    color: white;
  }

}