.creator-overview {

  h2 {
    margin-top: 0;
  }

  .contact-row {
    margin-top: 2vh;
    justify-content: space-evenly;
  }

  #creator-info {
    display: grid;
    grid-template-columns: 50% 40%;
    grid-column-gap: 10%;
    padding-top: 2vh;
    padding-bottom: 2vh;

    img {
      width: 100%;
      border-radius: var(--border-radius);
    }
  }
}
