footer {
  @extend .row, .nowrap;
  background-color: var(--background-color);
  color: var(--background-color-on);
  height: var(--footer-height);

  justify-content: space-evenly;

  box-shadow: var(--box-shadow);

  a {
    display: block;
  }
}
