.page-title {
  @extend .column;
  color: var(--background-color-on);
  height: calc(100vh - var(--header-height));
  padding-top: var(--header-height);
  scroll-snap-align: start;

  text-align: center;

  .material-icons {
    font-size: 10vh;
  }

  #back-arrow {
    left: 2vh;
    position: absolute;
    top: 2vh;
  }

  .background {
    --brightness: 70%;
    filter: brightness(var(--brightness));

    min-height: 100vh;

    overflow: hidden;

    .dark & {
      filter: grayscale(100%) brightness(var(--brightness));
    }

    img {
      width: 105%;
      height: 105%;
      margin: -5px;
      filter: blur(2px);
      object-fit: cover;
      object-position: 20% top;
    }

    video {
      height: calc(100vh - var(--header-height));
      width: 100vw;
      object-fit: cover;
      object-position: center;

      filter: blur(2px);
    }
  }

  #pagetitle-content {
    top: var(--header-height);
    width: 100%;
    position: absolute;
    height: calc(100vh - var(--header-height));


    .deco {
      --margin-top: 20vh;

      width: 90%;
      margin-top: var(--margin-top);
      margin-left: auto;
      margin-right: auto;

      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;

      hr {
        flex: 1;
        border-color: white;
      }

      h1 {
        padding: 0 6vw;
        font-family: "Open Sans", sans-serif;
        font-size: var(--font-xxxl);
      }

    }
  }

  &.backdrop-set {
    color: white;
    text-shadow: 0 0 10px var(--shadow-color);

    p {
      text-shadow: 0 0 10px var(--shadow-color), 0 0 5px var(--shadow-color), 0 0 1px black;
      font-weight: normal;
    }

    #back-arrow,
    #down-arrow {
      color: white;
    }
  }

  &:not(.mini) {

    #pagetitle-content {

      p {
        font-size: var(--font-xl);
        font-family: "Open Sans", sans-serif;

        margin: var(--default-padding);

        max-height: 30vh;
        overflow: auto;

        .dark & {
          filter: grayscale(100%);
        }
      }

      #down-arrow {
        position: absolute;
        bottom: 5vh;
        transform: translateX(-50%);

        margin: 0;

        //font-size: 10vh;
      }
    }

  }

  &.mini {
    --height: 160pt;
    max-height: var(--height);

    #pagetitle-content {
      max-height: calc(1.05 * var(--height));

      .deco {
        --margin-top: 60pt;

        h1 {
          margin: 0;
        }
      }

      p {
        display: none;
      }

      #down-arrow {
        display: none;
      }
    }

    .background {
      max-height: calc(1.05 * var(--height));

      img {
        max-height: calc(1.05 * var(--height));
        object-position: center;
      }
    }

  }
}
