.skills-overview {
  margin-bottom: 16pt;

  a {
    border-radius: var(--border-radius);
    display: grid;
    margin-bottom: 16pt;

    &:hover {
      box-shadow: var(--box-shadow);

      .dark & {
        background-color: #4d4d4d;
      }
    }
  }

  img {
    margin: auto;
    max-height: 100%;
    width: 100%;
  }
}
