.asset-presentation {
  @extend .column;
  padding: 2vh 2vw;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
  }

  .dark &.needs-background img {
    background-color: var(--background-color-on);
    border-radius: var(--border-radius);
  }
}
